<%- include("partials/header"); -%>

    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <input type="text" name="postTitle" placeholder="" autocomplete="off">
      <button type="submit" name="Publish" value="">Publish</button>
    </form>

<%- include("partials/footer"); -%>
