/****************************TAG SELECTORS*********************/
body {
  margin: 0;

}
div {
  background-color: #dfeeea;
  
}
h1 {
  margin-top: 0;
}
/****************************CLASS SELECTORS*******************/

/****************************ID SELECTORS**********************/
