/****************************TAG SELECTORS*********************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2 {
  color: #66BFBF;
  font-size: 2.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border-color: gray;
  border-style: dotted none none;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
p {
  color: #40514E;
  line-height: 2;
}
/****************************CLASS SELECTORS*******************/
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top:40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.middle-container {
  margin: 100px auto;
}
.pro {
  text-decoration: underline;
}
.profile-img {
  border-radius: 100%;
}
.intro {
  width: 30%;
  margin: auto;
}
.skill-row {
  margin:100px auto;
  width: 50%;
  text-align: left;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.network-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.BUTTON_NXV {
   background: #31DDE3;
   background-image: -webkit-linear-gradient(top, #31DDE3, #11999E);
   background-image: -moz-linear-gradient(top, #31DDE3, #11999E);
   background-image: -ms-linear-gradient(top, #31DDE3, #11999E);
   background-image: -o-linear-gradient(top, #31DDE3, #11999E);
   background-image: -webkit-gradient(to bottom, #31DDE3, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 143px;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   border: solid #11999E 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_NXV:hover {
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}


/****************************ID SELECTORS**********************/
