/****************************TAG SELECTORS*********************/
body {
  margin: 0;

}

h1 {
  margin-top: 0;
}
/****************************CLASS SELECTORS*******************/
.top-container {
    background-color: #dfeeea;
}
.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}
.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}

/****************************ID SELECTORS**********************/
